<div class="background__navigation">
	<div class="navigation__navigation-container">
		<nav class="navigation-container__menu-panel">
			<ul class="menu-panel">
				<li class="menu-panel__list-item">
					<a routerLink="/home" routerLinkActive="active" class="menu-panel__link">Home</a>
				</li>
				<li class="menu-panel__list-item">
					<a routerLink="/shop" routerLinkActive="active" class="menu-panel__link">Shop</a>
				</li>
				<li class="menu-panel__list-item">
					<a routerLink="/contact" routerLinkActive="active" class="menu-panel__link">Contact Us</a>
				</li>

			</ul>
		</nav>
		<div class="navigation-container__profile-panel">
			<ul class="profile-panel">
				<li class="profile-panel__list-item">
					<a routerLink="/sign-in" routerLinkActive="active" class="profile-panel__link">Sign In</a>
				</li>
				<li class="profile-panel__list-item">
					<a href="" class="profile-panel__link">Cart {{currentPrice}} $</a>
				</li>
			</ul>
		</div>
	</div>
</div>