<div class="background__navigation">
	<div class="navigation__navigation-container">
		<nav class="navigation-container__menu-panel">
			<ul class="menu-panel">
				<li class="menu-panel__list-item">
					<a href="" class="menu-panel__link">Home</a>
				</li>
				<li class="menu-panel__list-item">
					<a href="" class="menu-panel__link">Shop</a>
				</li>
				<li class="menu-panel__list-item">
					<a href="" class="menu-panel__link">Cart 0.00$</a>
<!-- 					<div>
						<ul>
							<li>Purchase1</li>
							<li>Purchase2</li>
						</ul>
					</div> -->
				</li>
			</ul>
		</nav>
	</div>
</div>