.sticky {
	position: fixed;
	width: 100%;
  	top: 0;
}
.stickyPadding {
	padding-top: 96px;
}
.background__navigation {
	background-color: #fff;
	border-bottom: 0px solid rgba(0, 0, 0, 0.1);
	box-shadow: 1px 7px 6px -6px rgba(0,0,0,0.3);
	z-index: 3;
}
.menu-panel,
.profile-panel {
	display: flex;
	align-items: center;
	padding-left: 0;
	margin: 1.75rem 0;
	margin-top: 2rem;
}
.profile-panel {
	justify-content: flex-end;
}
.menu-panel__list-item,
.profile-panel__list-item {
	display: inline-block;
}
.menu-panel__link,
.profile-panel__link {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border-bottom: 4px solid transparent;
}
.menu-panel__list-item {
	padding-right: 3rem;
}
.profile-panel__list-item {
	padding-left: 1.5rem;
}
.menu-panel__link:hover {
	border-bottom: 4px solid #a2071e;	
}
.navigation__navigation-container {
	display: grid;
/* 	grid-template-columns: 70% 30%; */
	grid-template-columns: 1fr 5fr 2fr;
	grid-template-areas:
	"home menu profile";
	max-width: 1080px;
	margin: 0 auto;
	width: 100%;
	align-items: center;
}
.navigation-container__menu-panel {
	text-align: center;
	grid-area: menu;
}	
.navigation-container__profile-panel {
	grid-area: profile;
	text-align: end; 
}
.navigation-container__home {
	margin-top: auto;
	margin-bottom: auto;
}
.list-item__link-icon {
	margin-top: auto;
	margin-bottom: auto;
}
.home__icon {
	color: #a2071e;
	font-size: 45px;
	grid-area: home;
	border-bottom: 4px solid transparent;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.home__icon:hover {
	color: #000;
	border-bottom: 4px solid #a2071e;
}
.link-icon__cart {
	display: inline-block;
	color: #a2071e;
	padding-right: 0.2rem;
	text-align: center;
	font-size: 32px;
	border-bottom: 4px solid transparent;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
}
.link-icon__cart:hover {
	color: #000;
	border-bottom: 4px solid #a2071e;		
}
.list-item {
	display: flex; 
	align-items: center;
}
.link--price {
	border-bottom: 4px solid transparent;
	padding-top: 4px;
}
.active {
	border-bottom: 4px solid #a2071e;
}
.navigation__cart-list {
	border-radius: 0 0 0 5px;
	box-shadow: -6px 7px 6px -6px rgba(0,0,0,0.3);
	border-bottom: 0px solid rgba(0, 0, 0, 0.1);
	border-left: 0px solid rgba(0, 0, 0, 0.1);
	background-color: #fff;
	position: fixed;
	top: 96px;
	right: 0;
	width: 400px;
	
}
.cart-list {
	padding-left: 0;
}
.cart-list__item {
	display: inline-block;
}
.item-control__item-delete {
	display: block; 
	margin-top: auto; 
	margin-bottom: auto;
	padding-right: 1rem;
	padding-left: 1rem;
	cursor: pointer;
}
.item__info-block {
	display: flex;
}
.info-block__name {
	display: flex;
}
.info-block__item-control {
	display: flex;
}
.name__text {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding-left: 1rem;
	padding-right: 0.3rem;
}
.item-control__amount {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding-right: 10rem;
}
.item-control__price {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.cart-list__bottom {
	background-color: #a2071e;	
}
.cart-list__bottom {
	border-radius: 0 0 0 5px;
	text-align: center;
}
.bottom__confirm {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	margin: 0;
	padding: 0.5rem 0;
	cursor: pointer;
}
.cart-list__total {
	display: flex;
	justify-content: flex-end;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	padding-right: 5rem;
}