<div id="fakeDiv"></div>
<div class="background__navigation" id="header">
	<div class="navigation__navigation-container">
		<a routerLink="/home" class="navigation-container__home">
			<i class="material-icons home__icon">home</i>
		</a>
		<nav class="navigation-container__menu-panel">
			<ul class="menu-panel">
				<li class="menu-panel__list-item">
					<a routerLink="/home" routerLinkActive="active" class="menu-panel__link">Home</a>
				</li>
				<li class="menu-panel__list-item">
					<a routerLink="/shop" routerLinkActive="active" class="menu-panel__link">Shop</a>
				</li>
				<li class="menu-panel__list-item">
					<a routerLink="/contact" routerLinkActive="active" class="menu-panel__link">Contact Us</a>
				</li>
			</ul>
		</nav>
		<div class="navigation-container__profile-panel">
			<ul class="profile-panel">
				<li class="profile-panel__list-item">
					<p *ngIf='isSign' class="list-item__username">{{isSign}}</p>
					<a routerLink="/sign-in" *ngIf='!isSign' routerLinkActive="active" class="list-item__link">Sign In</a>
					<a *ngIf='isSign' class="list-item__link" (click)="signOut()">Sign Out</a>
				</li>
				<li class="profile-panel__list-item">
					<div class="list-item">
							<i class="material-icons link-icon__cart" (click)="showList()">shopping_cart</i>
					</div>
				</li>
			</ul>
		</div>
			<div class="navigation__cart-list" *ngIf='show'>
			<ul class="cart-list" >
				<li *ngFor='let item of currentShoppingList; let i = index' class="cart-list__item">
					<div class="item__info-block" *ngIf='item.name'>
						<div class="info-block__name">
							<p class="name__text">{{item.name}} x{{item.amount}}</p>
							<!-- <p class="name__amount"></p> -->
						</div>
						<div class="info-block__item-control">					
							<p class="item-control__price">Price: {{floatMeth.toFloat(item.amount*item.price)}} $</p>
							<i class="material-icons item-control__item-delete" (click)="deleteElement(item.id, item.product, i)">close</i>
						</div>
					</div>
				</li>
			</ul>
			 <p class="cart-list__total">Total: {{floatMeth.toFloat(currentPrice)}} $</p>
			<div class="cart-list__bottom">
				<p class="bottom__confirm" (click)="orderConfirm()">CONFIRM</p>
			</div>
		</div>
	</div>
</div>
