<div class="background__footer">
	<footer class="footer__footer-container">
		<div class="footer-container__footer-menu">
			<ul class="footer-menu__menu-list">
				<li class="menu-list__item">
					<a routerLink="/home" routerLinkActive="active">Home</a>
				</li>
				<li class="menu-list__item">
					<a routerLink="/shop" routerLinkActive="active">Shop</a>
				</li>
				<li class="menu-list__item">
					<a routerLink="/contact" routerLinkActive="active">Contact Us</a>
				</li>
			</ul>
		</div>
		<div class="footer-container__text-part">
			<p>
				dev info
			</p>
		</div>
	</footer>
</div>