<div class="background__footer">
	<footer class="footer__footer-container">
		<div class="footer-container__footer-menu">
			<ul class="footer-menu__menu-list">
				<li class="menu-list__item">
					<a routerLink="/home" routerLinkActive="active" class="item__link">Home</a>
				</li>
				<li class="menu-list__item">
					<a routerLink="/shop" routerLinkActive="active" class="item__link">Shop</a>
				</li>
				<li class="menu-list__item">
					<a routerLink="/contact" routerLinkActive="active" class="item__link">Contact Us</a>
				</li>
			</ul>
		</div>
		<div class="footer-container__text-part">
			<p class="text-part__developer">
				<span class="developer__part">Deved by</span>: Aliaksei Shakhoryn<br>
			</p>
			<a href="https://github.com/bakeroner" class="text-part__git">GitHub</a>
		</div>
	</footer>
</div>