$add-color: #a2071e;
$font-title: 'Montserrat', sans-serif;
$font-regular: 'Open Sans', sans-serif;
.background__footer {
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    z-index: 1;
}
.footer-menu__menu-list {
	padding-left: 0;
	margin: 0;
}
.footer__footer-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"menu dev";
	max-width: 1080px;
	margin: 0 auto;
	width: 100%;	
}
.footer-container__footer-menu {
	margin-top: auto;
	margin-bottom: auto;
	grid-area: menu;
}
.footer-container__text-part {
	grid-area: dev;
	text-align: end; 
}
.menu-list__item {
	padding-right: 1rem;
	display: inline-block;
}
.item__link,
.text-part__git {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-family: $font-regular;
	border-bottom: 4px solid transparent;
	-webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.item__link:hover,
.text-part__git:hover {
	border-bottom: 4px solid $add-color;	
}
.text-part__developer {
	font-family: $font-regular;
	font-size: 20px;
}
.developer__part {
	border-bottom: 4px solid $add-color;	
}