<div class="sign">
	<div class="sign__registration-block">
		<h2 class="registration-block__title">Still no Account?</h2>
		<p class="registration-block__text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua!
		</p>
		<a routerLink="/registration" routerLinkActive="active" class="registration-block__reg-link">Create New Account</a>
	</div>
	<div class="sign__auth-block">
		<form novalidate [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)" class="auth-block__form">
			<label for="login" class="form__label">Login</label><br>
  			<input type="text" formControlName="login" placeholder='Login Goes Here' class="form__input"><br>
  			<label for="password" class="form__label">Password</label><br>
  			<input type="password" formControlName="pass" class="form__input"><br>
  			<button type="submit" class="form__button">Sign in</button>
  		</form>
  	</div>
  </div>
<div *ngIf="loginForm.get('login').hasError('required') && loginForm.get('login').touched || loginForm.get('pass').hasError('required') && loginForm.get('pass').touched" class="alert-window">
  	<p class="alert-window__message">Login and Password are required.</p>
</div>
<div *ngIf="alert" class="alert-window">
  	<p class="alert-window__message">No such user or wrong password.</p>
</div>
