<div *ngIf="currentItem" class="detail-window">
	<div class="detail-window__close-button">
		<i class="material-icons close-button" (click)="goBack()">close</i>
	</div>
	<div class="detail-window__content-block">
		<div class="content-block">
			<div class="content-block__text">
				<p class="text__detail-text">{{currentItem.name}}</p>
  				<p class="text__detail-text detail-text--type">Type: {{currentItem.type}}</p>
				<p class="text__detail-text detail-text--price">Price: {{floatMeth.toFloat(currentItem.price*counter)}} $</p>
				<div class="content-block__amount-control">
					<button (click)="decrement()" class="amount-control__button">-</button>
					<p class="amount-control__counter">{{counter}}</p>
					<button (click)="increment()" class="amount-control__button">+</button>
				</div>
				<div class="content-block__add">
					<button (click)="toCard(currentItem)" class="add__button">Add</button>
				</div>
				<p class="text__alert-message" *ngIf="alertMessage">Out of Stock</p>
				<p class="text__alert-message" *ngIf="notSign">Sign In</p>
			</div>
			<div class="content-block__image">
				<img src="./../../../assets/beer-image.png" class="image__detail-image">
			</div>
		</div>
	</div>
</div>
