<div class="background__home">
	<div class="home__home-container">
		<div class="home-container__text-part">
			<h1 class="text-part__title">Lorem ipsum dolor?</h1>
			<p class="text-part__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			</p>
		</div>
	</div>
</div>

